body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(114, 0, 0);
    color: white;
}
.enunciado {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(255, 211, 172);
    color: black;
    font-size: larger;
}